#container {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    font-size: 45px;
    align-items: center;
    justify-content: center;
  }
  
  #done{
   
   text-align:center;

   
   
   
   
  }
  button{
    width: 100px;
    height: 40px;
    font-size: 30px;
    background-color: #A7489B;
    margin-top: 420px;
    cursor: pointer;
  }
  button:hover{
    background-color: green;
    width: 150px;
    height: 50px;
  }
  .gradient-text {
  
      background-color: #CA4246;
      
  
       background-image: linear-gradient(
            45deg,
            #CA4246 16.666%, 
            #E16541 16.666%, 
            #E16541 33.333%, 
            #4c43f1 33.333%, 
            #F18F43 50%, 
            #8B9862 50%, 
            #986279 66.666%, 
            #476098 66.666%, 
            #476098 83.333%, 
            #A7489B 83.333%);
  
      background-size: 100%;
      background-repeat: repeat;
   
        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    
    }
    
    .gradient-text:hover{
        animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }
    
  
    @keyframes rainbow-text-simple-animation-rev {
        0% {
            background-size: 650%;
        }
        40% {
            background-size: 650%;
        }
        100% {
            background-size: 100%;
        }
    }
  
    @keyframes rainbow-text-simple-animation {
        0% {
            background-size: 100%;
        }
        80% {
            background-size: 650%;
        }
        100% {
            background-size: 650%;
        }
    }
      
    
    
  
    body {
      background-color:black;
    }
    
    h1 {
      font-family: "Archivo Black", sans-serif;
      font-weight: normal;
      text-align: center;
      display: block;
      cursor: pointer;
    }
    
    
  